:root{
    font-weight: 200;
    font-family: "SoDo Sans SemiBold", Helvetica Neue,Helvetica,Arial,sans-serif;

}


/*inicio-navbar-css*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 6px 0px 0px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 6px 0px 0px rgba(0,0,0,0);
    padding: 45px;
}

.navbar__left{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navbar__left-logo{
    width: 51px;
}

.navbar__left--lista{
    display: flex;
}

.navbar__left--lista-item{    
    text-transform: uppercase;  
    padding-left: 30px;
    font-weight: 700;
}

.navbar__right{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.navbar__right-findStore{
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-weight: 900;
}

.navbar__right-findStore svg{
    margin-right: 10px;
}

.navbar__right-buttons-list{
    display: flex;
}
.navbar__right-buttons-list li{
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 25px;
    border: 1px solid black;
    font-weight: 900;
}

.navbar__right-buttons-sigIn:hover{
    background-color: rgba(0,0,0,.06);
}

.navbar__right-buttons-joinNow{
    color: white;
    background-color: black;
}

.navbar__right-buttons-joinNow:hover{
    background-color: rgba(0,0,0,.7);
}

.mouse_h:hover{
    color: #00754a;
}

/*fim-navbar-css*/

/*inicio-container-css*/
.container{
    max-width: 1440px;
    margin: auto;
    background-color: #e2fcf1;
    margin-top: 35px;
}

.container__produtos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container__img {
    display: flex;
    align-items: center;
    
}

.container__img img{
    max-width: 100%;
}

.container__img, .container__text{
    max-width: 50%;
}

.container__text{
    padding-left: 2em;
    padding-right: 2em;
}

.container__text--center{
    text-align: center;
    padding-left: 5em;
}


.container__text--titulo{
    font-weight: 700;
    font-size:32px;
    margin-bottom: 24px;
}

.container__text--titulo--big{
    font-size: 68px;
    margin-bottom: 50px;
}

.container__text--descricao{
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.container__text--lista div{
    display: flex;
    align-items: center;
}

.container__text--icon img{
    background-repeat: no-repeat;
    width:7px;
    margin-right: 1em;
}

.container__text--lista{
    font-size: 22px;
    line-height: 1.5em;
}
.container__text--buttons{
    margin-top: 2em;
}
.container__text--buttons-link{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;

    border: 1px solid black;
    padding: .35em 1em;
    border-radius: 25px;
}

.container__text--buttons-link:hover{
    background-color: rgba(30,57,50,.1);
}

.container__produtos--tree{
    background-color: #006241;
    color: white;
}

.button__white{
    border: white 1px solid;
    color: white;
}

.container__produtos--noSpace{
    padding-top: 0;
    padding-bottom: 0;
}

.container__descricao{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.descricao__text{
    text-align: center;
    font-weight: 100;
    line-height: 25px;
}

.descricao__text a {
    color: black;
}
/*fim-container-css*/

/*inicio-rodape-css*/

.rodape{
    margin-top: 2em;
    -webkit-box-shadow: -1px -8px 4px -2px rgba(0,0,0,0.23);
    -moz-box-shadow: -1px -8px 4px -2px rgba(0,0,0,0.23);
    box-shadow: -1px -8px 4px -2px rgba(0,0,0,0.23);
}